*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:#f8fafc;
    line-height:1.7;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding-top:80px;
}

.hero h1{
    font-size:3.5rem;
    font-weight:700;
}

.hero h2{
    font-size:1.8rem;
    margin:20px 0;
    color:#cbd5e1;
}

.lead{
    font-size:1.2rem;
    color:#94a3b8;
}

.accent{
    color:#14b8a6;
}

.profile-img{
    width:350px;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,.35);
}

.stats{
    display:flex;
    gap:40px;
    margin-top:40px;
}

.stats h3{
    color:#14b8a6;
    font-size:2rem;
    font-weight:700;
}

.section{
    padding:100px 0;
}

.section h2{
    margin-bottom:30px;
    font-size:2.3rem;
    color:#14b8a6;
}

.bg-light{
    background:#f8fafc !important;
    color:#1e293b;
}

.card{
    border:none;
    border-radius:18px;
    transition:.3s;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.card:hover{
    transform:translateY(-8px);
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skills span{
    background:#1e293b;
    padding:12px 20px;
    border-radius:30px;
    border:1px solid #334155;
}

.btn-primary{
    background:#14b8a6;
    border:none;
}

.btn-primary:hover{
    background:#0f9d8d;
}

footer{
    text-align:center;
    padding:30px;
}

@media(max-width:992px){

.hero{
text-align:center;
}

.profile-img{
margin-top:40px;
width:280px;
}

.stats{
justify-content:center;
}

}

@media(max-width:768px){

.hero h1{
font-size:2.5rem;
}

.stats{
flex-direction:column;
gap:20px;
}

}
#data-process-lab{

    background:#ffffff;

}

#data-process-lab h2{

    color:#14b8a6;
    font-weight:700;
    margin-bottom:25px;

}

#data-process-lab p{

    font-size:1.15rem;
    line-height:1.9;

}

#data-process-lab .lead{

    font-size:1.4rem;
    font-weight:500;

}